# SMTP
SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT=
SMTP_SENDER=

# App
APP_HOST=localhost
APP_PORT=8081 # idk, di mac gabisa pake port 5000

# Database
DB_PORT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

JWT_SECRET=